footer {
    background-color: #f0f0f0; 
    padding: 20px;
    text-align: center;
    width: 100%; 
    position:absolute; 
    bottom: 1; 
    left: 0; 
    right: 0; 
    
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
